include mixins
doctype
html( lang="en" )
    head
        title ورود
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        //meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        //meta( name='description', content='Baking Bootstrap Snippets with Jade' )


       
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        // Latest compiled JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(href='css/bootstrap-rtl.min.css', rel='stylesheet')
        link(href='css/rtl.css', rel='stylesheet')
        link(href='css/bootstrap-responsive-rtl.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')

        //+bootswatch("superhero")
    
    body.bkimg(style="padding-bottom:10rem;")
        
        
        
        .container
            
            
            form.well(id='form-login', method='post', action='/auth')
                
                h6 وارد شوید
                .form-group
                    label نام کاربری
                    input.form-control(type='text', id='user-tf', name='user')
                .form-group
                    label رمز عبور
                    input.form-control(type='password', id='pass-tf', name='pass')
                //.controls
                button.btn.btn-outline-info(type='submit') ورود
                    //button.btn.btn-outline-info(type='submit') ثبت نام
                
                
                    
                a.btn.btn-info(href='/signup', role='button') ثبت نام
                .clearfix
        
        
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

        